body{
  max-width:1920px;
  display:flex;
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
  flex-flow:row wrap;
}
.navigation-menu{
  width:100%;
  display:flex;
  height:40px;
  background:#3f88c5;
  z-index:1;
  position:fixed;
}
.navigation-menu .navigation-list{
  list-style-type:none;
  width:100%;
  height:inherit;
  display:flex;
  justify-content:flex-end;
  gap:1em;
  padding:0.3em;
  margin:0;
}
.navigation-menu .navigation-list li a{
  text-decoration:none;
  color:black;
  cursor:pointer;
}
.navigation-menu .navigation-list li a img{
  width:30px;
  height:30px;
  border-radius:50%;
  margin:0;
  border:1px solid white;
}
.navigation-menu .navigation-list li a img:hover{
  border:1px solid #f26419;
}
.navigation-menu .navigation-list .fa-bell{
  font-size:1.7rem;
  color:white;
  padding:0.1em;
}
.navigation-menu .navigation-list .fa-bell:hover{
  color:#f26419;
}
.navigation-menu .navigation-list .settings-hover{
  list-style-type:none;
  display:flex;
  background:white;
  flex-flow:column wrap;
  position:absolute;
  right:0.3em;
  width:150px;
  height:180px;
  padding:0.3em;
  margin:0;
  justify-content: space-around;
  text-align:center;
  border-radius:0.3em;
  box-shadow:0 1px 6px black;
}
.navigation-menu .navigation-list .settings-hover li{
  width:100%;
  padding-top:0.2em;
  height:30px;
}
.navigation-menu .navigation-list .settings-hover li:hover{
  cursor:pointer;
  background:#f26419;
  border-radius:0.3em;
}
.sidebar-menu{
  width:140px;
  height:100%;
  display:flex;
  align-items:stretch;
  border-right:1px solid gray;
  position:fixed;
  overflow:scroll;
  scrollbar-width: thin;
}
.sidebar-menu .sidebar-list{
  list-style-type:none;
  padding:2em 0.5em;
  width:100%;
  height:100%;
  display:flex;
  flex-flow:column wrap;
  gap:1.3em;
}
.sidebar-menu .sidebar-list li{
  width: 100%;
  height: 30px;
  line-height: 1.7em;
}
.sidebar-menu .sidebar-list li:hover{
  background: #3f88c5;
  border-radius: 0.2em;
  padding: 0 0.2em;
  cursor:pointer;
}
.sidebar-menu .sidebar-list .sidebar-list__link{
  text-decoration:none;
  color:black;
  font-size:1rem;
  text-transform: uppercase;
}
.sidebar-menu .sidebar-list .submenu-list{
  list-style-type:none;
  display:flex;
  flex-flow:column wrap;
  width:100%;
  padding:0;
  gap:1em;
  margin-top:1em;
}
.sidebar-menu .sidebar-list .submenu-list li{
  width:100%;
  height:30px;
}
.sidebar-menu .sidebar-list .submenu-list .submenu-list__link{
  font-size:0.9rem;
  text-transform:none;
  border-bottom:none;
  text-decoration:none;
  color:black;
}
.sidebar-menu .sidebar-list .submenu-list .submenu-list li:hover{
  background:lightgray;
  cursor:pointer;
  border-radius:0.2em;
}
.blocks{
  width:89.09%;
  min-height:100%;
  display:flex;
  flex-flow:row wrap;
  justify-content:space-between;
  gap:1em;
  padding:1em;
  margin-top:2em;
  background:rgba(128, 128, 128, 0.377);
  position:absolute;
  right:0;
}
.blocks .block{
  width:450px;
  height:220px;
  background:rgb(255, 255, 255);
  border-radius:0.7em;
  border:1px solid rgba(0, 0, 0, 0.568);
  box-shadow:0 1px 6px rgba(27, 27, 27, 0.473);
  
}
